.elite-collection {
  $card-margin-sm: 2px;
  $card-margin-md: 4px;

  min-height: calc(100vh - #{$gnb-height-sm} - #{$global-footer-height});
  padding: 20px 0;

  .title {
    @include text-style(16, $dark);
    @include flexbox(start);
    padding: 2px;
    margin-bottom: 16px;
    background-color: rgba($blue, 0.6);
    border-radius: 4px;
  }

  &-list {
    @include flexbox(start);
    flex-wrap: wrap;
  }

  &-item {
    width: calc(20% - #{$card-margin-sm});
    user-select: none;
  }

  .elite-card {
    padding: 4px;
    margin-right: $card-margin-sm;
    margin-bottom: 16px;
    background-color: $red;
    filter: grayscale(1);
    border-radius: 4px;
    transition: filter 200ms ease-in-out;

    &.is-active {
      filter: grayscale(0);
    }

    .elite-image {
      position: relative;
      display: block;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      overflow: hidden;
      background-color: $background;
      border-radius: 4px;

      img {
        @include position-center;
        display: block;
        width: 100%;
        height: 100%;
        padding: 4px;
        object-fit: contain;
        transition: transform 200ms ease-in-out;

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            transform: translate(-50%, -50%) scale(1.2);
          }
        }
      }
    }

    .name-modifier {
      @include column-flexbox;
      @include text-style(12, $black);
      display: none;
      height: 40px;
      text-align: center;

      &.is-active {
        display: flex;
      }

      strong {
        width: 100%;
        padding: 2px;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  @include responsive(T) {
    padding: 30px 0;

    &-item {
      width: calc(10% - #{$card-margin-md});
      margin-right: $card-margin-md;
    }

    .elite-card {
      margin-bottom: 24px;
    }
  }

  @include responsive(D) {
    .elite-card {
      margin-bottom: 28px;
    }

    .name-modifier strong {
      @include text-style(13);
    }
  }
}
