.gnb-search-button,
.gnb-menu-button,
.gnb-bookmark-button,
.gnb-timer-button {
  @include flexbox;
  width: 30px;
  height: 30px;
  color: $blue;
  border-radius: 50%;
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out;

  &:active {
    color: $primary;
  }

  .ic-search,
  .ic-menu {
    font-size: 24px;
    color: $green-dark;
  }

  .ic-search {
    position: relative;
    top: 3px;
  }

  .ic-alarm,
  .ic-bookmark {
    font-size: 18px;
  }
}

@include responsive(T) {
  .gnb-bookmark-button {
    &:hover {
      color: $white;
      background-color: $green-dark;
    }

    .ic-bookmark {
      font-size: 24px;
    }
  }
}
