.information {
  min-height: calc(
    100vh - #{$gnb-height-sm} - #{$detail-tab-height} - #{$global-footer-height}
  );
  padding: 20px 0;

  &-item {
    margin-bottom: 88px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-detail {
    .title {
      @include text-style(16, $dark);
      padding: 2px;
      margin-bottom: 16px;
      background-color: rgba($green, 0.6);
      border-radius: 4px;

      .limit-info {
        @include inline-flexbox(start);

        i {
          margin-right: 4px;
          color: $red;
        }

        span {
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }

  .rule {
    padding: 4px;
    margin-bottom: 20px;
    background-color: rgba($red, 0.4);
    border-radius: 4px;
    &-detail {
      @include text-style(14);

      .info {
        @include flexbox(start);
        position: relative;
        margin-bottom: 4px;

        &:last-child {
          margin-bottom: 0;
        }

        i {
          position: absolute;
          top: 6px;
          color: $black;
        }

        p {
          display: inline;
          padding-left: 20px;
        }
      }
    }
  }

  .monster-group {
    @include flexbox(start);
    flex-wrap: wrap;
    margin-bottom: 4px;
  }

  .content-wrapper {
    margin-bottom: 36px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include responsive(T) {
    min-height: calc(100vh - #{$gnb-height-md} - #{$global-footer-height});
    padding: 50px 0;

    &-item {
      margin-bottom: 100px;
    }

    &-detail {
      .title {
        @include text-style(18);
      }
    }
  }

  @include responsive(D) {
    &-detail {
      .title {
        font-size: 20px;

        .limit-info span {
          font-size: 16px;
        }
      }
    }

    .content-wrapper {
      margin-bottom: 56px;
    }
  }
}
