.information {
  padding: 20px 0;

  &-item {
    margin-bottom: 88px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-detail {
    .title {
      @include text-style(16, $dark);
      padding: 2px;
      margin-bottom: 16px;
      background-color: rgba($green, 0.6);
      border-radius: 4px;

      .limit-info {
        @include inline-flexbox(start);

        i {
          margin-right: 4px;
          color: $red;
        }

        span {
          font-size: 14px;
          font-weight: 400;
          text-decoration: underline;
          text-underline-position: under;
        }
      }
    }
  }

  .monster-group {
    @include flexbox(start);
    flex-wrap: wrap;
    margin-bottom: 4px;
  }

  .content-wrapper {
    margin-bottom: 36px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include responsive(T) {
    padding: 50px 15px;

    &-item {
      margin-bottom: 100px;
    }

    &-detail {
      .title {
        @include text-style(18);
      }
    }
  }

  @include responsive(D) {
    &-detail {
      .title {
        font-size: 22px;

        .limit-info span {
          font-size: 16px;
        }
      }
    }

    .content-wrapper {
      margin-bottom: 56px;
    }
  }
}
