.information {
  &-list {
    padding: 20px 0;
  }

  &-item {
    margin-bottom: 88px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-detail {
    .title {
      @include text-style(16, $dark);
      margin-bottom: 20px;
    }
  }

  .monster-group {
    @include flexbox(start);
    flex-wrap: wrap;
    margin-bottom: 8px;
  }

  .register {
    @include text-style(14, $dark);
    margin-bottom: 36px;

    &:last-child {
      margin-bottom: 0;
    }

    i {
      display: inline-block;
      margin-right: 2px;
      color: $red;
    }

    &-info {
      @include inline-flexbox(start);
      flex-wrap: wrap;

      .ic-info {
        position: relative;
        top: 1px;
        margin-right: 4px;
      }

      .ic-chevron {
        position: relative;
        top: 1px;
        margin: 0 4px;
        font-size: 20px;
        color: $black;
        transform: rotate(-90deg);
      }
    }

    .location-info {
      margin-top: 4px;

      .main-location {
        font-weight: 700;
      }
    }

    .limit-info {
      strong {
        font-weight: 400;
      }
    }

    .tag-green {
      margin-right: 4px;
    }

    .tag-blue {
      margin-left: 4px;
    }
  }

  @include responsive(T) {
    &-list {
      padding: 80px 0;
    }

    &-detail {
      .title {
        @include text-style(18);
      }
    }
  }

  @include responsive(D) {
    .register {
      @include text-style(16);
    }
  }
}
