.monster-card {
  $card-margin-sm: 2px;
  $card-margin-md: 4px;

  @include column-flexbox;
  flex-direction: column-reverse;
  width: calc(20% - #{$card-margin-sm});
  padding: 2px;
  margin-right: $card-margin-sm;
  margin-bottom: 4px;
  background-color: $green-dark;
  border-radius: 4px;

  &:last-child {
    margin-right: 0;
  }

  &.is-search {
    background-color: $red;
  }

  &-name {
    @include text-style(12, $white);
    width: 100%;
    padding: 4px 2px 2px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-image {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    background-color: $background;
    border-radius: 4px;

    img {
      @include position-center;
      display: block;
      width: 100%;
      height: 100%;
      padding: 4px;
      object-fit: contain;
      transition: transform 200ms ease-in-out;

      &:active {
        background-color: rgba($secondary, 0.4);
      }
    }
  }

  @include responsive(T) {
    width: calc(10% - #{$card-margin-md});
    margin-right: $card-margin-md;
  }

  @include responsive(D) {
    &-image {
      img:hover {
        background-color: rgba($secondary, 0.4);
        transform: translate(-50%, -50%) scale(1.2);
      }
    }
  }
}
