.notice {
  @include text-style-14;
  padding: 16px 8px;
  margin: 8px 0;
  font-weight: bold;
  color: $black;
  background-color: #fecece;
  border: 2px solid $red;
  border-radius: 8px;

  .link {
    display: inline-block;
    padding: 4px 8px;
    margin-top: 8px;
    color: $white;
    background-color: $blue;
    border-radius: 8px;

    &:hover {
      filter: brightness(1.1);
    }
  }
}
