/* stylelint-disable */

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'collection' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-alarm:before {
  content: '\e900';
}

.ic-bookmark:before {
  content: '\e901';
}

.ic-caret:before {
  content: '\e902';
}

.ic-chevron:before {
  content: '\e903';
}

.ic-close:before {
  content: '\e904';
}

.ic-history:before {
  content: '\e905';
}

.ic-location:before {
  content: '\e906';
}

.ic-menu:before {
  content: '\e909';
}

.ic-search:before {
  content: '\e90a';
}

.ic-stop:before {
  content: '\e90b';
}

.ic-warning:before {
  content: '\e90d';
}

.ic-clipboard:before {
  content: '\e9b8';
}

.ic-info:before {
  content: '\ea0c';
}

/* stylelint-enable */
