%tag-base {
  @include inline-flexbox;
  @include text-style(13);
  height: 20px;
  padding: 0 8px;
  font-weight: 700;
  border-radius: (24px / 2);
}

.tag-green {
  @extend %tag-base;
  background-color: $green;
}

.tag-blue {
  @extend %tag-base;
  color: $white;
  background-color: $blue;
  transition: opacity 200ms ease-in-out;

  &:hover,
  &:active {
    opacity: 0.6;
  }

  &:hover {
    cursor: pointer;
  }
}
