%timer-base {
  @include flexbox(between);
  background-color: $green;
  border: 2px solid $primary;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.timer {
  @extend %timer-base;
  width: 100%;
  height: 54px;
  padding-left: 8px;
  transition: background-color 200ms ease-in-out;

  &.is-alarm {
    background-color: $red;
  }

  &-info {
    @include flexbox(start);

    .boss-36 {
      margin-right: 8px;
      background-color: $white;
    }

    .time {
      @include text-style(18, $black);
    }
  }

  &-button-group {
    @include flexbox(start);
    font-size: 20px;

    .ic-history,
    .ic-close {
      transition: opacity 200ms ease-in-out;

      &:active,
      &:hover {
        opacity: 0.4;
      }
    }

    .ic-history {
      padding: 8px 4px 8px 8px;
      margin-right: 4px;
    }

    .ic-close {
      padding: 8px 8px 8px 4px;
    }
  }

  @include responsive(T) {
    width: 190px;
    height: 46px;
  }
}
