.bookmark-toast {
  @include position-center-x;
  @include flexbox;
  position: fixed;
  top: -30px;
  z-index: $bookmark-toast-level;
  width: 160px;
  height: 30px;
  background-color: #74b9ff;
  border-radius: 15px;

  .bookmark-title {
    @include text-style(12, $primary);
  }

  @include responsive(T) {
    width: 210px;
  }

  @include responsive(D) {
    width: 300px;

    .bookmark-title {
      @include text-style(14);
    }
  }
}
