.detail-tab {
  $grid-margin: 15px;

  margin: 0 -#{$grid-margin};
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  &-list {
    @include inline-flexbox(start);
    white-space: nowrap;
  }

  &-item {
    &.is-active {
      button {
        color: $green-dark;
        border-bottom-color: $green-dark;
      }
    }
    button {
      @include inline-flexbox;
      @include text-style(13, $dark);
      height: $detail-tab-height;
      padding: 0 8px;
      font-weight: 700;
      border-bottom: 2px solid transparent;
    }
  }

  @include responsive(T) {
    margin: 0;

    &-content {
      padding: 30px 0;
    }

    &-list {
      width: 100%;
      background-color: $background;
    }

    &-item {
      button {
        height: $detail-tab-height-md;
        padding: 0 10px;
      }

      button:hover {
        color: $green-dark;
      }
    }
  }

  @include responsive(D) {
    &-item {
      button {
        @include text-style(16);
        padding: 0 16px;
      }
    }
  }
}
