.detail-tab {
  $grid-margin: 15px;
  $detail-tab-padding-md: 30px;

  position: fixed;
  top: $gnb-height-sm;

  z-index: $detail-tab-level;
  width: 100%;
  margin: 0 -#{$grid-margin};
  overflow-x: auto;
  background-color: $white;

  &::-webkit-scrollbar {
    display: none;
  }

  &-list {
    @include inline-flexbox(start);
    white-space: nowrap;
  }

  &-item {
    &.is-active {
      button {
        color: $green-dark;
        border-bottom-color: $green-dark;
      }
    }
    button {
      @include inline-flexbox;
      @include text-style(13, $dark);
      height: $detail-tab-height;
      padding: 0 8px;
      font-weight: 700;
      border-bottom: 2px solid transparent;
    }
  }

  @include responsive(T) {
    position: sticky;
    top: $gnb-height-md + $timer-bar-height - $detail-tab-padding-md;
    margin: 0;
    background-color: none;

    &-content {
      padding-top: $detail-tab-padding-md;
    }

    &-list {
      width: 100%;
      background-color: $background;
    }

    &-item {
      button {
        height: $detail-tab-height-md;
        padding: 0 10px;
        transition: color 200ms ease-in-out;
      }

      button:hover {
        color: $green-dark;
      }
    }
  }

  @include responsive(D) {
    &-item {
      button {
        @include text-style(16);
        padding: 0 16px;
      }
    }
  }
}
