.gnb {
  $padding: 8px;

  position: relative;
  z-index: $gnb-level;
  height: $gnb-height-sm;
  background-color: $white;
  border-bottom: 1px solid $border;

  &-wrapper {
    @include flexbox(between);
    height: $gnb-height-sm;
  }

  &-right {
    .gnb-button-group {
      @include flexbox(end);
    }
  }

  &-timer-button {
    margin-right: 4px;
  }

  .logo {
    @include position-center;

    a {
      position: relative;
      left: -#{$padding};
      display: block;
      padding: $padding;
      font-size: 20px;
      line-height: 20px;
      color: $black;
      letter-spacing: -0.1em;
    }
  }

  @include responsive(T) {
    height: $gnb-height-md;

    &-wrapper {
      @include flexbox(start);
      height: $gnb-height-md;
    }

    .logo {
      position: static;
      margin-right: 28px;
      transform: none;

      a {
        font-size: 24px;
        line-height: 24px;
      }
    }
  }
}
