.timer-modal {
  $timer-modal-width: 240px;

  position: fixed;
  top: 0;
  right: 0;
  z-index: $timer-modal-level;
  width: 240px;
  height: 100vh;
  padding: 32px 20px;
  background-color: $white;
  transition: transform 300ms ease-in-out;
  transform: translate3d($timer-modal-width, 0, 0);

  &.is-open {
    transform: translate3d(0, 0, 0);
  }

  &-header {
    @include flexbox(start);
    margin-bottom: 32px;

    .timer-title {
      @include text-style(18, $black);
      order: 2;
    }

    i {
      position: relative;
      top: 1px;
      order: 1;
      margin-right: 8px;
    }
  }
}
