.timer-bar {
  z-index: $timer-bar-level;
  height: $timer-bar-height;
  background-color: $white;
  border-bottom: 1px solid $border;
  transition: transform 300ms ease-in-out;
  transform: translate3d(0, -#{$timer-bar-height}, 0);

  &.is-open {
    transform: translate3d(0, 0, 0);
  }

  &-content {
    height: $timer-bar-height;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &-list {
    @include inline-flexbox(start);
    height: 100%;
  }

  &-item {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  @include responsive(T) {
    &-content {
      &::-webkit-scrollbar,
      &::-webkit-scrollbar-thumb {
        height: 4px;
        background-color: transparent;

        &:hover {
          background-color: rgba($primary, 0.3);
        }
      }

      &::-webkit-scrollbar {
        display: block;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 2px;
      }
    }
  }
}
