$gnb-height-sm: 50px;
$gnb-height-md: 60px;

$detail-tab-height: 40px;

$detail-tab-height-sm: $detail-tab-height;
$detail-tab-height-md: 54px;

$timer-bar-height: 50px;

$global-footer-height: 100px;
