$gnb-height-sm: 50px;
$gnb-height-md: 60px;

$detail-tab-height: 39px;
$divider-height-sm: 1px;
$detail-tab-height-sm: $detail-tab-height + $divider-height-sm;
$detail-tab-height-md: 54px;

$timer-bar-height: 60px;
