$detail-tab-level: 60;
$timer-bar-level: 70;
$gnb-level: 80;

$overlay-level: 100;
$sidebar-level: 200;
$timer-modal-level: 300;
$search-modal-level: 400;
$bookmark-toast-level: 500;
$location-toast-level: 600;
$timer-toast-level: 700;
